/*Fuente importada*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

:root{
    /*Dark blue*/
    --DarkBlue100: #609ED4;
    --DarkBlue200: #356EA9;
    --DarkBlue300: #0A3871;
    --DarkBlue400: #052051;

    /*Gray*/
    --gray100: #CED4DA;
    --gray200: #ADB5BD;
    --gray300: #868E96;
    --gray400: #495057;
    --gray500: #343A40;

    /*Light blue*/

    --lightBlue100:#F3F5FC;
    --lightBlue200:#EFF1FA;
    --lightBlue300:#E9ECF8;
    --lightBlue400:#AAB2D5;
    --lightBlue500:#757FB2;
}

*{
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background: var(--lightBlue100);
    margin: 0;
    min-height: 100vh;
}

main{
    padding: 20px;
    flex-grow: 1;
}

.logo{
    width: 1.8rem;
    left: 0;
    top: 0;
    padding: 45px 45px 45px 20px;
}

.contenedor_input{
    margin: 20px auto;
    
}

.campo_texto{
    width: 100%;
    height: auto;
    min-height: 18vh;
    box-sizing: border-box;
    background: var(--lightBlue100);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--DarkBlue300);
    text-align: left;
    outline: none;
    border: none;
    resize: none; 
    margin-bottom: 15px;
}

::placeholder{
    color: var(--DarkBlue300);
    text-align: left;
}

.campo_texto:focus{
    border: none;
}

.fa-solid, .contenedor_input span{
    color: #67808E;
    font-size: 0.8rem;
    font-weight: 400;
    
}

.contenedor_botones{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.btn{
    padding: 16px 15px;
    border-radius: 18px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 400;
}

.btn:first-child{
    background: var(--DarkBlue300);
    color: var(--lightBlue100);
}

.btn:first-child:hover{
    background: #072B61;
    color: var(--lightBlue100);
}

.btn:last-child{
    background: transparent;
    border: 1px solid var(--DarkBlue300);
    color: var(--DarkBlue300);
}

.btn:last-child:hover{
    background:var(--lightBlue200);
    border: 1px solid var(--DarkBlue300);
    color: var(--DarkBlue300);
}

.contenedor_traductor{
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgb(176, 176, 176);
    text-align: center;
    padding: 17px 24px;
    margin-top: 20px; 
}

.contenedor_imagen{
    margin-bottom: 15px;
    width: 70%;
}

.contenedor_imagen img{
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.contenedor_traductor p{
    padding: 9px 20px 20px 20px;
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--gray400);
}

.contenedor_traductor p span{
    display: block;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 1.3rem;
    color:var(--gray500);
}


.contenedor_traduccion{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    padding: 0px 10px 10px 10px;
}

.contenedor_traduccion p {
    font-weight: 400;
    font-size: 1.1rem;
}

footer{
    margin-top: auto;
    background-color: #072B61;
    
}

.info_desarrolladora{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 1.8;
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
}

.info_desarrolladora p a, .info_desarrolladora p{
    color:var(--lightBlue100);
    text-decoration: none;
}

.info_desarrolladora p span{
    font-weight: 600;
}


@media screen and (min-width: 1180px){
    .logo{
        left: 30px;
    }

    .campo_texto{
        height: 45vh;
    }

    .contenedor_traductor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        height: 100%;
    }

    .seccion_izquierdo{
        position: absolute;
        width: 40%;
        left: 120px;
    }

    .seccion_derecho{
        position: absolute;
        top: 30px;
        right: 120px;
        width: 50vh;
        height: 82vh;
    }

    .contenedor_traductor{
        margin-top: 0;
        
    }

    .contenedor_traductor p {
        line-height: 1.3;
        overflow-y: auto;
        
    }

    .contenedor_imagen img{
        display: block;
        
    }

    .info_desarrolladora{
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        padding: 12px;
    }

}

@media screen and (min-width: 375px) {
    .logo{
        top: 20px;
    }

    .contenedor_botones{
        margin: 0 auto;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
    }

    .btn{
        width: 48%;
        box-sizing: border-box;
    }
}